/*pc min 1024px */
@media (min-width:64.000em){

}
/*tablet 740px to 1023px */
@media (min-width: 46.250em) and (max-width: 63.938em){

}
/*mobile & tablet max 1023px*/
@media (max-width: 63.938em){
    .btn{
        padding: 15px 16px;
    }
    .contact-form .form-control{
        padding: 15px;
    }
    .socials-list{
        font-size: 48px;
    }
    #footer .socials-list a{
        margin: 0 8px;
    }
}


/*mobile* max 739px*/
@media (max-width: 46.188em){

    .s-full-width{
        width: 100%;
    }


    .s-col-full{
        width: 100%;
    }

    #menu{
        display: block;
    }
    #menu > li{
        display: block;
    }
    #menu > li :first-child{
        display: inline-block;
    }

    #menu .menuClone{
        position: initial;
        background-color: #333;
    }

    #menu .menuClone a{
        color: white;
        padding: 5px 41px;
    }

    #header{
        overflow: hidden;
    }

    #header .mobile-menu-btn{
        display: block;
    }

    #header .search-btn{
        display: none;
    }

    #content .member-img{
        width: 60%;
    }
   .contact-form{
       margin-top: 16px;
   }
   .s-mt-8{
       margin-top: 8px;
   }

}